#include "wrappers.dtsi"
// clang-format off

/ {
    behaviors {
// =====================================================================================
// HOME_ROW_MODS
// =====================================================================================
        hml: homerow_mods_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <175>;
            quick-tap-ms = <150>;
            require-prior-idle-ms = <125>;
            flavor = "balanced";
            hold-while-undecided;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <5 6 7 8 9 15 16 17 18 19 25 26 27 28 29 30 31 32 33>;
            hold-trigger-on-release;
        };

        hmr: homerow_mods_right {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <175>;
            quick-tap-ms = <150>;
            require-prior-idle-ms = <125>;
            flavor = "balanced";
            hold-while-undecided;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 30 31 32 33>;
            hold-trigger-on-release;
        };

        bs_del: backspace_delete {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp BSPC>, <&kp DEL>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        lt_1s_mo: layer_toggle_1s_momentary {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>; // For Layer and Keycode
            tapping-term-ms = <1000>; // 1 second hold
            flavor = "tap-preferred"; // Tap for keycode, hold for layer
            bindings = <&mo>, <&kp>; // Hold binding (&mo) and Tap binding (&kp)
        };
    };
// =====================================================================================
// MACROS
// =====================================================================================
    macros {
        assign: assign_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp COLON &kp EQUAL>;
        };
        arrow: arrow_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp MINUS &kp GT>;
        };
        double_colon: double_colon_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp COLON &kp COLON>;
        };
        dotdot: dotdot_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp DOT &kp DOT &kp FSLH>;
        };
        hmdr: hmdr_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp TILDE &kp FSLH>;
        };
        // Types "()" and places cursor in the middle
        macro_parens: macro_parens {
           compatible = "zmk,behavior-macro";
          #binding-cells = <0>;
          bindings = <&kp LPAR &kp RPAR &kp LEFT>;
        };
        // Types "[]" and places cursor in the middle
        macro_brackets: macro_brackets {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LBKT &kp RBKT &kp LEFT>;
        };
        // Types "{}" and places cursor in the middle
        macro_braces: macro_braces {
          compatible = "zmk,behavior-macro";
          #binding-cells = <0>;
          bindings = <&kp LBRC &kp RBRC &kp LEFT>;
        };
        macro_dquotes: macro_dquotes {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp DQT &kp DQT &kp LEFT>;
        };
        macro_squotes: macro_squotes {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SQT &kp SQT &kp LEFT>;
        };
};

// =====================================================================================
// TRI_LAYER_STUFF
// =====================================================================================
    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <LOWER RAISE>;
            then-layer = <ADJUST>;
        };
    };
};
