// clang-format off
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include "behaviors.dtsi" // before wrappers because .dtsi are fucking dumb
#include "wrappers.dtsi" // qmk logic. has to come after the zmk headers
#include "combos.dtsi" // Shared combo definitions

/ {
    combos {
        jk_esc_combo {
            // Cradio-specific key positions for J (RM1) and K (RM2) from 34.h
            key-positions = <16 17>;
        };
        combo_as_bspc {
            // Cradio-specific key positions for A (LM3) and S (LM2) from 34.h
            key-positions = <11 12>;
        };
        combo_lscln_ent {
            // Cradio-specific key positions for L (RM3) and ; (RM4) from 34.h
            key-positions = <18 19>;
        };
        combo_fg_underscore {
            // Cradio-specific key positions for F (LM1) and G (LM0) from 34.h
            key-positions = <13 14>;
        };
        combo_sd_tab {
            // Cradio-specific key positions for S (LM2) and D (LM1) from 34.h
            key-positions = <12 13>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        base_layer {
            bindings = <
                ___BASE_L1___ ___BASE_R1___
                ___BASE_L2___ ___BASE_R2___
                ___BASE_L3___ ___BASE_R3___
                  ___SWEEP_THUMBS_BASE___
            >;
        };

        lower_layer {
            bindings = <
                ___LOWER_L1___ ___LOWER_R1___
                ___LOWER_L2___ ___LOWER_R2___
                ___LOWER_L3___ ___LOWER_R3___
                  ___SWEEP_THUMBS_LOWER___
            >;
        };

        raise_layer {
            bindings = <
                ___RAISE_L1___ ___RAISE_R1___
                ___RAISE_L2___ ___RAISE_R2___
                ___RAISE_L3___ ___RAISE_R3___
                  ___SWEEP_THUMBS_RAISE___
            >;
        };

        func_layer {
            bindings = <
                ___FUNC_L1___ ___FUNC_R1___
                ___FUNC_L2___ ___FUNC_R2___
                ___FUNC_L3___ ___FUNC_R3___
                  ___SWEEP_THUMBS_FUNC___
            >;
        };

        adjust_layer {
            bindings = <
                ___ADJUST_L1___ ___ADJUST_R1___
                ___ADJUST_L2___ ___ADJUST_R2___
                ___ADJUST_L3___ ___ADJUST_R3___
                  ___SWEEP_THUMBS_ADJUST___
            >;
        };

        gaming_layer {
            bindings = <
                ___GAMING_L1___ ___GAMING_R1___
                ___GAMING_L2___ ___GAMING_R2___
                ___GAMING_L3___ ___GAMING_R3___
                  ___SWEEP_THUMBS_GAMING___
            >;
        };
    };
};
