// clang-format off
// never remove this clang format, zmk is fucking dumb and clang is fucking dumb and everything breaks if we let clang reorder everything
// c preprocessor macros are so finicky
// sofle.keymap
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include "zmk-helpers/helper.h"

// Sofle usually has ~60 keys, so we would define the core 34 here.
// For now, let's just include the base to get you compiling.
#include "base.keymap"

// You can add Sofle-specific features (encoders, extra keys) below.
