// clang-format off
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include "behaviors.dtsi" // before wrappers because .dtsi are fucking dumb
#include "wrappers.dtsi" // after behaviors

/ {
    keymap {
        compatible = "zmk,keymap";
        base {
            bindings = <
                 &kp TAB ___BASE_L1___ ___BASE_R1___ &kp TAB
                 &kp TAB ___BASE_L2___ ___BASE_R2___ &kp TAB
                 &kp TAB ___BASE_L3___ ___BASE_R3___ &kp TAB
                &kp LGUI &mo 1  &mo 1  &kp SPC &kp RALT &kp TAB &kp LGUI &mo 1    &kp SPC &kp RALT // Thumbs
            >;
        };

        lower {
            bindings = <
                 &kp TAB ___BASE_L1___ ___BASE_R1___ &kp TAB
                 &kp TAB ___BASE_L2___ ___BASE_R2___ &kp TAB
                 &kp TAB ___BASE_L3___ ___BASE_R3___ &kp TAB
                &kp LGUI &mo 1  &mo 1  &kp SPC &kp RALT &kp TAB &kp LGUI &mo 1    &kp SPC &kp RALT // Thumbs
            >;
        };
    };
};
